@using System.Web.Mvc
@using System.Xml.Linq


@helper OpakujBlad(MvcHtmlString tekst)
{
XElement elem = XElement.Parse(tekst.ToString());
if (elem.FirstNode!=null)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Błąd:</span>
        @tekst
    </div>
}
else
{
  @tekst
}
}
