@using RejestrFaktur.Models
@model  JednostkaMiary
<h1>@ViewBag.FormaNazwa Edycja</h1>
<div>
    <form>
        <p>Wyszukaj:</p>
        <p>@Model.NazwaJednostki</p>
        <p>@Model.SymbolJednostki</p>
    </form>
</div>


