@{
    Layout = "~/Views/WartosciSlownikowe/szablonWartosciSlownikowe.cshtml";
    string txt = "przejdź do edycji";
}

<h1>Definicje doatkowych tabel</h1>
<p>Tutaj możesz edytować dodatkowe ustawienia aplikacji</p>



