<ul class="glowne">
    <li>
        @Html.ActionLink("Strona główna", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Wartości słownikowe", "Index", "WartosciSlownikowe")
    </li>
    <li>
        @Html.ActionLink("About", "About", "Home")
    </li>
    <li>
        @Html.ActionLink("Kontakt", "Contact", "Home")
    </li>


</ul>
