@model IEnumerable<RejestrFaktur.Models.JednostkaMiary>
@{
    Layout = "~/Views/WartosciSlownikowe/szablonWartosciSlownikowe.cshtml";
}

<h1>@ViewBag.Title</h1>
<p>Tutaj możesz edytować dodatkowe ustawienia aplikacji</p>
<h1>Lista wszystkich Jednostek Miary</h1>
<p>
    <table>
        <tr><td>Nazwa jednostki miary</td><td>Symbol jednostki miary</td></tr>
        @foreach (var jM in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => jM.NazwaJednostki)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => jM.SymbolJednostki)
                </td>
            </tr>
        }


    </table>

