<h1>Szukaj po wartościach</h1>
<div>
    <form>
        <p>Wyszukaj:</p>
        <input type="text" name="tekstWyszukiwania" />
        <input type="button" value="szukaj" name="Szukaj" />
    </form>
</div>
