<ul class="dropdown-menu">
    <li>@Html.ActionLink("Jednostki miary", "Index", "JednostkiMiary")</li>
    <li>@Html.ActionLink("Typy płatności", "Index", "PlatnosciTyp")</li>
    <li>@Html.ActionLink("Stawki podatku", "Index", "StawkiPodatku")</li>
    <li>@Html.ActionLink("Rodzaje walut", "Index", "Waluta")</li>
</ul>



