@using RejestrFaktur.Models
@model RejestrFaktur.utils.AbstrKlasyInterfejsyGenerics.ObiektDoWidoku<Waluta>
@{
    Layout = "~/Views/Shared/_templateBootstrap.cshtml";
}
<h3>Szczegóły wybranego obiektu</h3>
<div class="well">
    @Html.Partial("~/Views/Waluta//SzczegolyForm.cshtml", Model.Edytowany)
    <div class="input-group">@Html.ActionLink("Zamknij okienko szczegółów", "Index", null, new { @class = "btn btn-sm btn-warning" })</div>
</div>

<h3>Lista jednostek Miary</h3>
@Html.Partial("~/Views/Waluta/ListaWartosciForm.cshtml", Model.Lista)


