<h1>Definicje dodatkowych tabel</h1>
<ul class="elementy">
    <li>
        <b>Jednostki miary </b>
        <br />
        @Html.ActionLink("Jednostki miary", "JednostkiMiary", "WartosciSlownikowe")
    </li>
    <li>
        <b>Typy płatności</b>
        <br />
        @Html.ActionLink("Typy płatności", "TypyPlatnosci", "WartosciSlownikowe")
    </li>
    <li>
        <b>Stawki podatku</b>
        <br />
        @Html.ActionLink("Stawki podatku", "StawkiPodatku", "WartosciSlownikowe")
    </li>
    <li>
        <b>Waluty</b>
        <br />
        @Html.ActionLink("Rodzaje walut", "Waluty", "WartosciSlownikowe")
    </li>
</ul>
