@using RejestrFaktur.Models
@model RejestrFaktur.utils.AbstrKlasyInterfejsyGenerics.ObiektDoWidoku<PlatnoscTyp>
@{
    Layout = "~/Views/Shared/_templateBootstrap.cshtml";
}

<h3>Edycja/dodawanie nowego obiektu</h3>
<div class="well">
    @using (Html.BeginForm("EdycjaNowy", "PlatnosciTyp", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.EditorFor(model => model.Edytowany)
        @Html.HiddenFor(model => model.StanObiektu)
        <div class="form-group">
            @Html.ActionLink("Zamknij okienko edycji", "Index", null, new { @class = "btn btn-sm btn-warning" })
            <input type="submit" value="Zapisz" class="btn btn-sm btn-success" />
        </div>
    }
</div>