@using Extensions
@model RejestrFaktur.Models.JednostkaMiary
<h1>Szukaj po wartościach</h1>
<div>
    <form>
        <p>Wyszukaj:</p>
        <input type="text" name="tekstWyszukiwania" />
        <input type="button" value="szukaj" name="Szukaj" />
    </form>

    @Html.ListaAtrybuty("lista", Model)

</div>
