<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carnagus-001-site2.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://carnagus-001-site2.btempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>carnagus-001-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\carnagus-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5018.Smarterasp.net;Initial Catalog=DB_9CBEBC_SPHYNXWEB;User ID=DB_9CBEBC_SPHYNXWEB_admin;Password=123456789m" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SphynxWeb.Models.ApplicationDbContext, SphynxWeb" MigrationConfiguration="SphynxWeb.Migrations.Configuration, SphynxWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5018.Smarterasp.net;Initial Catalog=DB_9CBEBC_SPHYNXWEB;User ID=DB_9CBEBC_SPHYNXWEB_admin;Password=123456789m</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>